.flights-header {
  color: var(--penguinWhite);
  margin-bottom: 0.5rem;
}
.flights-container {
  padding: 1rem 2rem 2rem;
  background-color: rgba(0, 0, 0, 0.75);
}
.single-flight-container {
  background-color: var(--penguinLightBlue);
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}
.flight-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.return-flex-container {
  display: flex;
  flex-wrap: nowrap;
}
.dep-arr-container {
  width: 70%;
  margin-left: 1rem;
}
.flights-departure {
  display: flex;
  border-bottom: 1px solid black;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
}
.flights-arrival {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
}
.flight-details {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flights-button-mobile {
  display: none;
  width: 70%;
  margin-bottom: 0.5rem;
}
@media only screen and (max-width: 600px) {
  .flights-button {
    display: none;
  }
  .flights-button-mobile {
    display: block;
  }
  .company-img {
    display: none;
  }
  .flight-flex-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .flight-details {
    width: 100%;
    flex-direction: column;
  }
  .dep-arr-container {
    margin-left: 0;
  }
  .return-flex-container {
    flex-wrap: wrap;
  }
}
