@import url("http://fonts.cdnfonts.com/css/lily-script-one");

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  background: var(--penguinLightBlueGrad);
  height: 100vh;
}

.home-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.main-hero {
  width: 90rem;
  height: 35rem;
  position: absolute;
  z-index: -999;
}

.footer-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  background-color: rgba(0, 0, 0, 0.85);
}

.footer-container p {
  font-family: "Lily Script One";
  font-size: 35px;
  color: white;
  padding-right: 3rem;
  margin-top: 1rem;
}
@media only screen and (min-width: 600px) {
  .main-hero {
    display: block;
  }
  .main-hero-smartphone {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .main-hero {
    display: none;
  }
  .main-hero-smartphone {
    display: block;
    position: absolute;
    z-index: -999;
    top: 6rem;
  }
}
@media only screen and (min-width: 1700px) {
  .home-container {
    height: 100vh;
  }
}
