:root {
  --penguinOrange: #fa896c;
  --penguinWhite: rgb(239, 236, 236);
  --penguinLightBlue: #d3eaff;
  --penguinRedGradient: linear-gradient(#e83a3a, #ff5e03);
  --penguinNavGradient: linear-gradient(#ff9374, #e8644e);
  --penguinLightBlueGrad: linear-gradient(#b3d8fb, #fffdfd, #b3d8fb);
}

/* font-family */
@import url("http://fonts.cdnfonts.com/css/lily-script-one");

/*per utilizzarlo:  font-family: 'Lily Script One'; */

* {
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
}

/* home-background-francesca */
.home-background {
  background: var(--penguinLightBlueGrad);
  /* background-image: url("public/fjord-img.jpeg"); */
}

/* home-background-francesca */

.arrow-button {
  background-color: var(--penguinWhite);
  color: black;
  padding: 0 10px;
  border-radius: 3px;
  margin: 5px;
}

.card-book-button {
  background-color: var(--penguinOrange);
  border-radius: 3px;
  padding: 5px 10px;
  color: var(--penguinWhite);
}
.card-book-button:hover {
  transform: scale(1.2);
  transition-duration: 0.7s;
  box-shadow: 3px 3px 10px grey;
}
.search-button {
  background-color: var(--penguinOrange);
  border-radius: 127px;
  padding: 5px 10px;
  color: var(--penguinWhite);
  height: 2.5rem;
}
.search-button:hover {
  transform: scale(1.2);
  transition-duration: 0.7s;
}
