:root {
  --penguinOrange: #fa896c;
  --penguinWhite: rgb(239, 236, 236);
  --penguinLightBlue: #d3eaff;
  --penguinRedGradient: linear-gradient(#e83a3a, #ff5e03);
  --penguinLightBlueGrad: linear-gradient(#b3d8fb, #fffdfd, #b3d8fb);
}

* {
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}

/* home-background-francesca */
.home-background {
  background: var(--penguinLightBlueGrad);
  /* background-image: url("public/fjord-img.jpeg"); */
}

/* home-background-francesca */

.arrow-button {
  background-color: var(--penguinWhite);
  color: black;
  padding: 0 10px;
  border-radius: 3px;
  margin: 5px;
}

.card-book-button {
  background-color: var(--penguinOrange);
  border-radius: 3px;
  padding: 5px 10px;
  color: var(--penguinWhite);
}
